<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head'); %>
</head>

<body>

    <header>
        <%- include('../../partials/header'); %>
    </header>

    <main>
        <div class="container" style="padding-top: 20px;">
            <h3>Plan #<%= plan.planestudio[0].id %>
            </h3>
            <div>
                <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                    <h4>Planes de Estudio</h4>
                    <a href=" <%= plan.planestudio[0].id %>/agregarSemestre" class="btn btn-success btn" role="button" aria-disabled="true">Agregar Semestre</a>
                </div>
                <table class="table">
                    <thead>
                        <th scope="col-4">Semestre</th>
                        <th scope="col-4">Asignatura 1</th>
                        <th scope="col-4">Asignatura 2</th>
                        <th scope="col-4">Asignatura 3</th>
                        <th scope="col-4">Acciones</th>

                        </tr>
                    </thead>
                    <tbody>
                        <% let contador=1; 
                            let contSem=1; 
                            %>
                            
                                <%plan.semestres.forEach(semestre=>  { %>
                                    <% if(contSem % 3 == 1) { %>
                                <tr></tr>
                                
                                <th><%= semestre.numero %></th>
                                <td><%= semestre.asignatura %> </td>
                                               
                                
                                <% } else {%>
                                    
                                    <td><%= semestre.asignatura %></td> 
                                    <% if (contSem % 3 == 0){%>
                                        <td><a href="./planestudios/<%= plan.id %>/<%= semestre.id %>/eliminar" class="btn btn-danger">Eliminar</button></td>  
                                    <% }%>
                                   
                            <% } contSem++  %>
                            
                            <% }); %>
                    </tbody>
                </table>
            </div>


        </div>
    </main>
</body>

</html>