<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head'); %>
  </head>
  <body>
    <header><%- include('../../partials/header'); %></header>

    <main>
      <div class="container">
        <% if (claseCurso != null && claseHorario != null) { %>

        <h5>"Es hora de clase. ¡Iniciala para que tus estudiantes asistan!"</h5>
        <div class="card col-3" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title"><%= claseCurso.asignatura %></h5>
            <p class="card-text"><b>Salón:</b> <%= claseCurso.salon %></p>
            <a href="/cursos/<%= claseCurso.id%>" class="card-link">Ver detalle del curso</a>
            <a
              href="/cursos/<%= claseCurso.id%>/<%= claseHorario.id%>/asistencia/"
              class="btn btn-primary"
              >Ver asistencia</a
            >
          </div>
        </div>

        <% } %>

        <h5>Tus cursos</h5>
        <div class="row justify-content-around align-items-center" style="padding-top: 20px">
          <% docente.cursos.forEach(curso => { %>
          <div class="card col-3" style="width: 18rem">
            <div class="card-body">
              <h5 class="card-title"><%= curso.asignatura %></h5>
              <p class="card-text"><b>Salón:</b> <%= curso.salon %></p>
              <a href="/cursos/<%= curso.id%>" class="card-link">Ver detalle del curso</a>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </main>
  </body>
</html>
