<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head'); %>
</head>
<body>

<header>
  <%- include('../../partials/header'); %>
</header>

<main>
    <div class="container" style="padding-top: 20px;">
      <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
        <h3>Docentes</h3>
        <a href="docentes/agregar" class="btn btn-success btn" role="button" aria-disabled="true">Agregar</a>
      </div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col-4">#</th>
                <th scope="col-4">Nombre</th>
                <th scope="col-4">Departamento</th>
                <th scope="col-4">Acciones</th>
              </tr>
            </thead>
            <tbody>
                <% 
                    let contador = 1;

                    Docentes.forEach(docente => { %>
                    <tr>
                        <td><%= contador++ %></td>
                        <td><%= docente.nombre %></td>
                        <td><%= docente.departamento %></td>
                        <td>
                            <a href="docentes/<%= docente.id %>/actualizar" type="button" class="btn btn-info">Actualizar</button>
                            <a href="docentes/<%= docente.id %>/eliminar" class="btn btn-danger">Eliminar</button>
                              <a href="docentes/<%= docente.id %>" class="btn btn-warning">Detalle</button>
                        </td>                        
              </tr>
               <% }); %> 
              <tr>
            </tbody>
          </table>
    </div>
</main>
</body>
</html>