<!DOCTYPE html>
<html lang="en">



<head>
  <%- include('../../partials/head'); %>
</head>

<body>

  <header>
    <%- include('../../partials/header'); %>
  </header>

  <main>
    <div class="container" style="padding-top: 20px; max-width: 500px;">
      <form action="/departamentos/<%= departamento.departamento[0].id %>/agregarDocente" method="POST"
        enctype="application/x-www-form-urlencoded">
        <div class="mb-3">
          <label for="nombre" class="form-label">Selccionar docente</label>


          <div class="form-group">

            <select class="form-control" id="id_docente" name="id_docente">

              
              <% docentes.forEach(docente=> {%>

                <option value='<%= docente.id %>'><%= docente.nombre %></option>
                <% })%>

            </select>
          </div>

        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>

    </div>
  </main>
</body>

</html>