<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head'); %>
</head>
<body>

<header>
  <%- include('../../partials/header'); %>
</header>

<main>
    <div class="container" style="padding-top: 20px;">

        <div class="card" style="width: 400px">
            <div class="card-body">
                <h5 class="card-title">Información de asistencia</h5>
                <p class="card-text"><b>Código Del Docente:</b> <%=codigoDocente.codigo_docente%> </p>
                <p class="card-text"><b>Código Del Salón</b> <%=codigoSalon.codigo_salon%></p>
                <% 
                  if (!expirado)  { %> 
                    <form action="/docentes/codigo/<%=docente.docente[0].id%>/<%=curso.curso[0].id%>" method="POST" enctype="application/x-www-form-urlencoded">
                      <button type="submit" class="btn btn-success">Generar Codigos</button>
                    </form>
                  <%  } %>
            </div>
        </div>

        <div class="card" style="width: 600px; margin-top: 20px;">
            <form>
                <div class="card-body">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Código Docente</label>
                        <div class="col-sm-10">
                          <input type="email" class="form-control" id="inputEmail3">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">Código Salón</label>
                        <div class="col-sm-10">
                          <input type="password" class="form-control" id="inputPassword3">
                        </div>
                      </div>
                        <div class="col-sm-10">
                          <button type="submit" class="btn btn-primary">Confirmar asistencia</button>
                        </div>
                      </div>
                    </form>
                </div>
        </div>
    </div>
</main>
</body>
</html>