<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head'); %>
</head>
<body>

<header>
  <%- include('../../partials/header'); %>
</header>

<main>
    <div class="container" style="padding-top: 20px;">
      <div style="display: flex; align-items: center;">
        <img
            src="https://raw.githubusercontent.com/lineroml/imgs_sabiduria/main/warning.png"
            alt="logo student"
            style="align-self: center; margin-bottom: 20px; margin-right: 30px"
            id="logo"
          />
     <div style="display: flex; flex-direction:column ;">
      <h5 > Digita esta información</h5>
      <h5 style="margin-top: -7px;" > para registrar asistencias:</h5>
     </div>
      </div>
        <div class="card" style="width: 400px; margin-bottom: 40px;">
            <div class="card-body" >
                <h5 class="card-title">Información de asistencia</h5>
                <%if (codigoDocente != null){ %>

                  <p class="card-text"><b>Código Del Docente:</b> <%=codigoDocente.codigo_docente%> </p>

                  <% } else { %>

                  <p class="card-text"><b>Código Del Docente:</b> Aun no has generado el codigo </p>

                <% } %>


                <% if (loginRol == 'e') {%>
                <p class="card-text"><b>Código Del Salón</b> <%=codigoSalon.codigo_salon%></p>
                <%  } else {%>

                  
                  <% }%>
                <% 
                  if (expirado || expirado == null)  { %> 
                    <form action="/docentes/codigo/<%=docente.docente[0].id%>/<%=curso.curso[0].id%>/<%=id_horario%>" method="POST" enctype="application/x-www-form-urlencoded">
                      <button type="submit" class="btn btn-success">Generar Codigos</button>
                    </form>
                  <%  } %>
            </div>
        </div>

        <% if (loginRol == 'e') {%>

        <div class="card" style="width: 600px; margin-top: 20px;">
            <form action="/estudiantes/codigo/<%= loginID %>/<%= codigoDocente.codigo_docente %>/<%= codigoSalon.codigo_salon %>/<%=curso.curso[0].id%>/<%=id_horario%>" method="POST" enctype="application/x-www-form-urlencoded">
                <div class="card-body">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Código Docente</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" name="codigo_docente"id="codigo_docente">
                          <% if (errorCodigoDocente === 'true') { %>
                            <label id="slsl" class="invalid-feedback" style="display: block;">El codigo ingresado es erroneo.</label>
                        <%} %>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">Código Salón</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" name="codigo_salon"id="codigo_salon">
                          <% if (errorCodigoSalon === 'true') { %>
                            <label id="las" class="invalid-feedback" style="display: block;">El codigo ingresado es erroneo.</label>
                        <%} %>
                        </div>
                      </div>
                        <div class="col-sm-10">
                          <button type="submit" class="btn btn-primary">Confirmar asistencia</button>
                          <% if (errorCodigoDocente !== 'false' && errorCodigoSalon !== 'false') { %>
                          <button type="submit" class="btn btn-primary">Confirmar asistencia</button>
                          <%  } %>
                        </div>
                      </div>
                    </form>
        </div>
         <% }%>


         <%if (asistencia != null) {%>
          <div style="display: flex; align-items: center;">
            <img
            src="https://raw.githubusercontent.com/lineroml/imgs_sabiduria/main/note.png"
            alt="logo student"
            style="align-self: center; margin-bottom: 20px; margin-right: 10px"
            id="logo"
          />
            <h5>Lista de estudiantes</h5>
          </div>
          <table class="table" >
            <thead>
              <tr>
                <th scope="col-4">#</th>
                <th scope="col-4">Estudiante</th>
                <th scope="col-4">Estado</th>
              </tr>
            </thead>
            <tbody>
                <% 
                    let contador = 1;
  
                    asistencia.forEach(asistencia => { %>
                    <tr>
                        <td><%= contador++ %></td>
                        <td><%= asistencia.nombre %></td>
                        <% if (asistencia.asistencia === '+'){%>
                          <td>Inasistente</td>
                          <%} else if (asistencia.asistencia ==='-') { %>
                          <td>Retrasado</td>
                          <%} else { %>
                          <td>Asistió</td>
                          <%} %>
                         
              </tr>
               <% }); %> 
              <tr>
            </tbody>
          </table>

          <% }%>







        </div>
    </div>
</main>
</body>
</html>