<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head'); %>
</head>
<body>

<header>
  <%- include('../../partials/header'); %>
</header>

<main>
    <div class="container" style="padding-top: 20px;">
      <div style="display: flex; justify-content: space-between; margin-bottom: 10px; align-items: center;">
        <img
                src="https://raw.githubusercontent.com/lineroml/imgs_sabiduria/main/online-course.png"
                alt="logo dpto"
                style="align-self: center; margin-bottom: 20px"
              />
        <h3>Cursos</h3>
        <a href="cursos/agregar" class="btn btn-success btn" role="button" aria-disabled="true" style="height: 40px;">Agregar</a>
      </div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col-4">#</th>
                <th scope="col-4">Asignatura</th>
                <th scope="col-4">Docente</th>
                <th scope="col-4">Salon</th>
                <th scope="col-4">Acciones</th>
              </tr>
            </thead>
            <tbody>
                <% 
                    let contador = 1;

                    cursos.forEach(curso => { %>
                    <tr>
                        <td><%= contador++ %></td>
                        <td><%= curso.asignatura %></td>
                        <td><%= curso.docente %></td>
                        <td><%= curso.salon %></td>
                        <td>
                            <a href="cursos/<%= curso.id %>/actualizar" type="button" class="btn btn-info" style="margin-right: 10px;">Actualizar</button>
                            <a href="cursos/<%= curso.id %>/eliminar" class="btn btn-danger" style="margin-right: 10px;">Eliminar</button>
                              <a href="cursos/<%= curso.id %>" class="btn btn-warning">Detalle</button>
                        </td>                        
              </tr>
               <% }); %> 
              <tr>
            </tbody>
          </table>
    </div>
</main>
</body>
</html>